{% extends "base.html" %}

{% block content %}
<div class="container">
    <H1>Submit Fax</H1>
    <div class="callout">
        If you have some fun animal facts you'd like to share, please submit them! We may use them in the future.
    </div>
    <div class="facts-container">
        <form action="/facts" method="POST">
            <label for="submitter">
                <H2>Name</H2>
            </label>
            <input name="submitter" type="text">
            <br />
            <label for="fact">
                <H2>Fact</H2>
            </label>
            <textarea name="fact"></textarea>
            <br />
            <input type="submit" value="Submit the Fact">
        </form>
    </div>
    <a href="/pets">⟨　Go back</a>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}